{% load staticfiles %}



<!DOCTYPE html>
<script type="text/javascript">
  
function toggle_text(shown, hidden) {
       var e = document.getElementById(shown);
       var f = document.getElementById(hidden);
    if(e.style.display == 'inline') {
                  e.style.display = 'none';
                  f.style.display = 'inline';
      }
      else {
                  e.style.display = 'inline';
                  f.style.display = 'none';
      }
}
</script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<html><head>


<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="stylesheet" type="text/css" href="{% static 'flashcards/tablet.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'flashcards/panes.css' %}" />
        <style type="text/css">
            /* Pane configuration */
            .left.col { width: 100px; }
            .right.col { left: 100px; right: 0; }
            .header.row { height: 30px; line-height: 30px; }
            .body.row { top: 30px; bottom: 10px; }
            .footer.row { height: 30px; bottom: 0; line-height: 50px; }
			
			
        </style>
    </head>
    <body>
	<h1>test</h1>
        <div class="left col">
            <div class="header row">
                <!--Navigation-->
                <div align="center"><a href = "/"><img src = "{% static 'flashcards/home.png' %}"></a></div>
            </div>
            <div class="body row scroll-y">
                <ul class="listview">
					
				  <!-- li class="selected">One</li><li>Two</li><li>Three</li>-->
					{% if active_words %}
					{% for word in active_words %}
					<li><a href="{% url 'flashcards:detail' word.content %}">{{ word.content}}</a></li>
					{% endfor %}
					{% else %}
					<p>No Words are available.</p>
					{% endif %}

                </ul>

            
        <!-- Nav arrows -->    
		<div style="text-align: center;">
		

		  
		</div>
		
		
            </div>
            <div class="footer row" align="center">
                <!--Icons go here-->
			{% if prev_word %}
			<a href="{% url 'flashcards:detail' prev_word.content %}"><img src= "{% static 'flashcards/blue_arrow_left.png' %}"></a>
			{% else %}
			
			{% endif %}
		

			{% if next_word %}
			<a href="{% url 'flashcards:detail' next_word.content %}"><img src= "{% static 'flashcards/blue_arrow_right.png' %}"></a>
			{% else %}
			
			{% endif %}
            </div>
        </div>
        <div class="right col">
            <div class="header row">
				Date active: {{ flashcard.activedate }}
                <!--View or edit something-->
            </div>
            <div class="body row scroll-y">

<div id="shown_first" style="display:inline">
      <a style="cursor:pointer" onclick="toggle_text('shown_first', 'hidden_first')">
      <h1 style="color:red;font-size:32vw;line-height:0px;">{{ flashcard.content }}</h1>
      </a>
</div>
<div id="hidden_first" style="display:none">
      <a style="cursor:pointer" onclick="toggle_text('shown_first', 'hidden_first')">
		<div id="container">
			<img id="theImage"  src={{image_address}} style="max-width:100%;height:auto;">
		<br /><br />
</div>
     
      </a>
</div>
<!-- Information with update checkboxes 
Date active: {{ flashcard.activedate }}</br>
End date: {{flashcard.enddate }}</br>


<form action="{% url 'flashcards:update' flashcard.content %}" method="post">
{% csrf_token %}
{% if flashcard.marked == True %}
	<input type="checkbox" name="check1" value="marked" id="marked" checked="yes"/>Marked<br />
{% else %}
	<input type="checkbox" name="check1" value="marked" id="marked"/>Marked<br />
{% endif %}

{% if flashcard.mastered %}
	<input type="checkbox" name="check2" value="mastered" id="mastered" checked="yes"/>Mastered<br />
{% else %}
	<input type="checkbox" name="check2" value="mastered" id="mastered"/>Mastered<br />
{% endif %}

<input type="submit" value="Update" />
</form> -->
		
            </div>
            <div class="footer row" style="font-size:2vw;" >
                <!--Some status text here-->

            </div>
        </div>

        <!--<script src="two-columns_files/iemobile-fix.js" type="text/javascript"></script>-->
 	
	
</body></html>
